<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="<%= action %>" method="POST">
        <p>Confirm delete</p>
        <input type="password" name="password" id="password">
        <button>Confirm</button>
    </form>
</body>
</html>